body {
    background-image: url(menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

button {
    background-color: maroon;
    color: bisque;
    width: 150px;
    height: 60px;
    padding: 10px;
    margin: 10px;
    border-radius: 40px;
    border: 2px solid #F28C28;
    font-size: 25px;
}

button:hover {
    color: #1A1A1A;
    transform: transition 0.3s;
}